@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("../../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
